{% extends "bulstyle/base.html" %}

{% block title %} Electronic Thesis & Dissertations {% endblock %}

{% block library_navigation %}
{% endblock %}
{% block navbar-search-form %}
{% endblock %}

{% block subnav-title %}Electronic Thesis & Dissertations{% endblock %}
{% block subnav-brand-link %}{% url 'home'%}{% endblock %}
{% block subnav-list %}
<li><a href="{% url 'overview'%}">Overview</a></li>
<li><a href="{% url 'faq'  %}">FAQ</a></li>
<li><a href="{% url 'copyright'  %}">Copyright</a></li>
{% if not user.is_authenticated %}
<li><a href="{% url 'login' %}?next=/">Login</a></li>
{% endif %}
{% endblock %}
{% block bootstrap3_title %}Electronic Theses & Dissertations at Brown University{% endblock %}

