{% extends "bulstyle/base.html" %}

{% block title %} Electronic Theses &amp; Dissertations {% endblock %}

{% block navbar-search-form %}
{% endblock %}

{% block subnav-title %}Electronic Theses &amp; Dissertations{% endblock %}
{% block subnav-brand-link %}{% url 'home'%}{% endblock %}
{% block subnav-list %}
<li><a href="{% url 'home'%}">Introduction</a></li>
<li><a href="{% url 'overview'%}">Overview</a></li>
<li><a href="{% url 'faq'  %}">FAQ</a></li>
<li><a href="{% url 'copyright'  %}">Copyright</a></li>
{% endblock %}
{% block bootstrap3_title %}Electronic Theses &amp; Dissertations at Brown University{% endblock %}

{% block footer-list %}
<li>Technical issues? Email <a href="mailto:bdr@brown.edu?Subject=ETD">bdr@brown.edu</a></li>
{{ block.super }}
{% endblock %}
