{% extends "base.html" %}
{% block content_sidebar %}
<ul class="nav nav-pills nav-stacked">
	<li role="presentation"><a href="{% url 'home' %}">Introduction</a></li>
	<li role="presentation"><a href="{% url 'overview' %}">Overview</a></li>
	<li role="presentation"><a href="{% url 'faq' %}">FAQ</a></li>
	<li role="presentation"><a href="{% url 'copyright' %}">Copyright</a></li>
	<li role="presentation"><a href="{% url 'tutorials' %}">Workshops & Tutorials</a></li>
</ul>
{% endblock %}

{% block footer-list %}
<li>Technical issues? Email <a href="mailto:bdr@brown.edu?Subject=ETD">bdr@brown.edu</a></li>
{{ block.super }}
{% endblock %}
