{% extends "etd_app/candidate.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'etd_app/select2.min.css' %}">
{% endblock %}

{% block content_main %}
<h2>About Your Committee</h2>
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% crispy person_form %}
    {% crispy committee_member_form %}
</form>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'etd_app/select2.min.js' %}"></script>
  <script type="text/javascript">
    $("#id_department").select2();
  </script>
{% endblock %}
