{% extends "etd_app/candidate.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
<style type="text/css">
  select {
    width: 200px;
  }
</style>
{{block.super}}
{% endblock %}

{% block content_main %}
<h2>About Your {{ candidate.thesis.label }}</h2>
<h3> Note: You must be on the VPN for all the features of this form to work properly. Find more information about using the VPN <a href="https://ithelp.brown.edu/kb/articles/get-started-with-brown-s-vpn-virtual-private-network">here</a></h3>
    {% crispy form form.helper %}
{% endblock %}

{% block extra_js %}
{{block.super}}
{{form.media.js}}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script type="text/javascript">
$("#id_keywords").select2({
        minimumInputLength: 1,
        tags: true,
        tokenSeparators: ["{{ ID_VAL_SEPARATOR }}"],
        ajax: {
            url: "{% url 'autocomplete_keywords' %}",
            dataType: "json",
            delay: 250,
            data: function (params) {
                return {
                    term: params.term
                };
            },
            processResults: function (data, page) {
                return {
                    results: data.results
                };
            },
        },
        insertTag: function (data, tag) {
            data.push(tag);
        },
    });
</script>
{% endblock %}
