{% extends "etd_app/base.html" %}
{% block intro_main %}
<h1>{{candidate.person.first_name}} {{candidate.person.last_name}} - {{candidate.degree.abbreviation}} - {{candidate.department.short_name}}</h1>
	
{% endblock %}

{% block content_main %}
<div id="dissertation_info" class="well">
  <h3>{{ candidate.thesis.label }} Information</h3>
  <dl class="dl-horizontal">
    <dt>Title: </dt><dd>{{ candidate.thesis.title|default:'&nbsp;' }}</dd>
    <dt>Abstract: </dt><dd>{% if candidate.thesis.abstract %}<pre>{{ candidate.thesis.abstract }}</pre>{% else %}&nbsp;{% endif %}</dd>
    <dt>Topics: </dt>
      {% if candidate.thesis.keywords.all %}
        {% for keyword in candidate.thesis.keywords.all %}
          <dd>{{ keyword }}</dd>
        {% endfor %}
      {% else %}
        <dd>&nbsp;</dd>
      {% endif %}
    <dt>Language:</dt><dd>{{ candidate.thesis.language.name }}</dd>
    <dt>Pagination:</dt>
      <dd>
          {% if candidate.thesis.num_prelim_pages %}
          preliminary pages - {{ candidate.thesis.num_prelim_pages }}<br />
          {% endif %}
          {% if candidate.thesis.num_body_pages %}
          dissertation pages - {{ candidate.thesis.num_body_pages }}
          {% endif %}
      </dd>
  </dl>
  {% if not candidate.thesis.is_locked %}
    <a class="btn btn-primary" href="{% url 'candidate_metadata' candidate.id %}">Edit</a>
  {% endif %}
</div>

<div id="dissertation_file" class="well">
    <h3>{{ candidate.thesis.label }} File</h3>
    {% if candidate.thesis.original_file_name %}
        <p>{{ candidate.thesis.original_file_name }}
        {% if not candidate.thesis.is_locked %}
          <a class="btn btn-primary" href="{% url 'candidate_upload' candidate.id %}">Replace File</a></p>
        {% endif %}
    {% else %}
        <p><a class="btn btn-primary" href="{% url 'candidate_upload' candidate.id %}">Upload File</a></p>
    {% endif %}
</div>

<div id="dissertation_committee" class="well">
<h3>Committee Members</h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Role</th>
          <th>Department/Affiliation</th>
          <th></th>
        </tr>
        {% for cmember in candidate.committee_members.all %}
        <tr>
          <td>{{cmember.person.first_name}}</td>
          <td>{{cmember.person.last_name}}</td>
          <td>{{cmember.get_role_display}}</td>
          <td>{% if cmember.department %}{{cmember.department.name}}{% else %}{{cmember.affiliation}}{% endif %}</td>
          <td>
            {% if not candidate.thesis.is_locked %}
            <form action="{% url 'candidate_committee_remove' candidate.id cmember.id %}" method="POST">{% csrf_token %}
              <input class="btn" type="submit" value="Remove" />
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}

        <tr>
          <td colspan=5>
            {% if not candidate.thesis.is_locked %}
            <a class="btn btn-primary" href="{% url 'candidate_committee' candidate.id %}">
              <i class="fa fa-plus" aria-hidden="true"></i> Add Committee Member
            </a>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
</div>
{% endblock %}

{% block content_sidebar %}
<div class="well">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="{% url 'candidate_home' candidate.id %}">Candidate Home</a></li>
    <li role="presentation"><a href="{% url 'candidate_profile' candidate.id %}">Edit Degree Profile</a></li>
    {% for candidacy in other_candidacies %}
    <li role="presentation"><a href="{% url 'candidate_home' candidacy.id %}">Switch to {{candidacy.thesis.label|capfirst}} ({{candidate.department.short_name}})</a></li>
    {% endfor %}
    <li role="presentation"><a class="btn btn-primary" href="{% url 'register' %}">Add Another Degree</a></li>
  </ul>
</div>

<div class="well">
  <dl>
    <dt>{{ candidate.thesis.label }} Status:</dt><dd>{{ candidate.thesis.get_status_display }}</dd>
  </dl>
  {% if candidate.thesis.ready_to_submit %}
    <p><a class="btn btn-primary" href="{% url 'candidate_preview_submission' candidate.id %}">Preview and Submit {{ candidate.thesis.label }}</a></p>
  {% else %}
    <p><a class="btn btn-primary disabled" href="{% url 'candidate_preview_submission' candidate.id %}">Preview and Submit {{ candidate.thesis.label }}</a>
    Please fill in the information to the right before submitting your {{ candidate.thesis.label }}.</p>
  {% endif %}
</div>
	
    <h3>Paper Submission Checklist:</h3>
    <p>(Grad School checks off when received)</p>
    <ul class="list-group">
        {% for item in candidate.gradschool_checklist.get_items %}
        <li class="list-group-item">
          {% if item.completed %}
            <i class="fa fa-lg fa-check text-success"></i>
          {% endif %}
          {{ item.display }}
          {% if item.completed %}
            (Completed on {{ item.completed }})
          {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
