{% extends "etd_app/static_base.html" %}
{% block static_content %}
<h2>Copyright &amp; Dissertations</h2>

<p>You own the copyright to your dissertation without taking any formal action although you will probably want to secure your copyright through formal registration. You can register your copyright directly with the <a href="http://www.copyright.gov/">U.S. Copyright Office</a> for a fee of $35.</p>

<p>You must obtain permission to use copyrighted material produced by others in your dissertation or thesis. Copies of permission letters must be submitted to the Graduate School with your other paperwork.</p>

<h3>Copyright Resources:</h3>
  <ul>
    <li><a href="http://www.utexas.edu/ogs/etd/fair_use.html">Fair Use Guidelines for Dissertations (University of Texas at Austin)</a></li>
    <li><a href="http://www.brown.edu/Administration/Copyright/">Brown University: Copyright & Fair Use </a></li>
    <li><a href="http://www.copyright.com/">Copyright Clearance Center</a></li>
    <li><a href="http://www.copyright.gov/">U.S. Copyright Law</a></li>
  </ul>

{% endblock %}
