{% extends "etd_app/static_base.html" %}
{% block static_content %}
<h2>Frequently Asked Questions</h2>

<h3> Important notice for off-campus use </h3>

<blockquote><p>If you are accessing your account from off campus, you will need to use the VPN in order to access all the features of the site. You can find information about using the VPN <a href="https://ithelp.brown.edu/kb/articles/get-started-with-brown-s-vpn-virtual-private-network">here</a>.</p></blockquote>

<h3>Where are Brown’s ETDs available?</h3>

<blockquote><p>Brown ETDs will be available in the <a href="https://repository.library.brown.edu/studio/collections/dissertation/" target="_blank">Brown Digital Repository (BDR)</a>. A permanent URL will be available for use in your resume.</p>

    <p>Dissertations of candidates who elect to enter into an individual publication agreement with ProQuest will also be available in the commercial <a href="http://proquest.umi.com/login?COPT=REJTPUcyODcrNTQyMiszYjEwJklOVD0wJlZFUj0y&clientId=7344">ProQuest Dissertations and Theses Full Text</a> database.</p></blockquote>

<h3>How will making my ETD available online affect my ability to later publish an article or book based on my ETD?</h3>

<blockquote><p>Allowing your ETD to be made available should not be an obstacle to further publication assuming that you follow the guidelines of the publishers to whom you plan to submit books and/or articles based on your ETD.  You should consult in advance with potential publishers if you are concerned that making your ETD universally available on the web may be viewed as prior publication.  In many cases the revisions required for further publication are so substantial that publishers do not view access to the ETD as a problem.</p></blockquote>

<h3>Are the copyright requirements for ETDs different than those for traditional dissertations?</h3>

<blockquote><p>They are the same.  You must get permission to use copyrighted material in your dissertation or thesis regardless of the format you use. You must also cite copyrighted material according to the format required by the copyright holder.</p></blockquote>

<h3>If I have published some of the text of my ETD in journals or other publications can I still copyright my ETD even though I relinquished copyright to the publisher for the previously published material?</h3>

<blockquote><p>You can still copyright your ETD since it is your expression of your original work.  The parts that have been copyrighted by others must be properly cited with the notice required by the publishers.</p></blockquote>

<h3>How do I convert my dissertation to a PDF?</h3>

<blockquote><p><a href="https://www.brown.edu/information-technology/software/catalog/adobe-creative-cloud-desktop-application">Adobe Acrobat PDF software</a> is available to all Brown students.</p></blockquote>
{% endblock %}
