{% extends "etd_app/static_base.html" %}
{% block static_content %}
<h2>Submission Overview</h2>

Once you have successfully defended your dissertation you are ready to begin the ETD process:

<table class="table">
    <tr>
        <td><strong>Registration</strong></td>
        <td>Enter contact information at <a href="https://library.brown.edu/etd/">https://library.brown.edu/etd/</a> in order to be entered in the system. You must have a Brown Username and Password in order to register. You may edit this contact information at any time.</td>
    </tr>

    <tr>
        <td><strong>Dissertation Metadata</strong></td>
        <td>Enter title, abstract, pagination, keywords, advisor(s) information. This information will be used to catalog your dissertation.</td>
    </tr>

    <tr>
        <td><strong>Manuscript Preparation</strong></td>
        <td>See the <a href="https://www.brown.edu/academics/gradschool/dissertation-guidelines">Graduate School's Dissertation Guidelines</a> in order to properly format your dissertation. The same guidelines apply to the electronic version of your dissertation.</td>
    </tr>

    <tr>
        <td><strong>Conversion to PDF</strong></td>
        <td>Your electronic dissertation should be a single PDF file.</td>
    </tr>

    <tr>
        <td><strong>PDF Upload &amp; Submission</strong></td>
        <td>You will have an opportunity to view your uploaded file before you submit it to the Graduate School. If there is a problem with the PDF you can delete it and try again. You will receive an email confirmation from the Graduate School when you submit your dissertation. If there are formatting or other problems you will be given an opportunity to resubmit a revised PDF.</td></tr>

    <tr>
        <td><strong>Publication</strong></td>
        <td>You will be notified by email once your ETD is approved. Your digital dissertation will be archived in the <a href="https://repository.library.brown.edu/studio/collections/dissertation/">Brown Digital Repository (BDR)</a>. A permanent URL will be available for your resume.</td>
    </tr>
</table>
{% endblock %}
