{% extends "etd_app/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'etd_app/select2.min.css' %}">
{% endblock %}

{% block content %}
{% if register %}
<h2>Registration:</h2>
<p><em>Please make sure you're not logged in under someone else's account.</em></p>
{% else %}
<h2>Edit Profile:</h2>
{% endif %}
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy person_form %}
    {% crispy candidate_form %}
</form>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'etd_app/select2.min.js' %}"></script>
  <script type="text/javascript">
    $("#id_department").select2();
  </script>
{% endblock %}
