{% extends "etd_app/base.html" %}
{% block content_sidebar %}
<h3>Candidate</h3>
<ul class="list-group">
  <li class="list-group-item">{{candidate.person.first_name}} {{candidate.person.last_name}}</li>
  <li class="list-group-item">{{candidate.person.email}}</li>
  <li class="list-group-item">Department: {{candidate.department.name}}</li>
  <li class="list-group-item">{{ candidate.thesis.label }} Status: {{candidate.thesis.get_status_display}}</li>
  <li class="list-group-item">Paperwork Status: {{candidate.gradschool_checklist.status}}</li>
</ul>
<h3>{{ candidate.thesis.label }}</h3>
<ul class="list-group">
  <li class="list-group-item">Title: {{ candidate.thesis.title }}</li>
  <li class="list-group-item">Pages: {{ candidate.thesis.num_prelim_pages }}, {{ candidate.thesis.num_body_pages }}</li>
  <li class="list-group-item"><a href="{% url 'abstract' candidate.id %}">View Abstract</a></li>
  <li class="list-group-item"><a target="_blank" href="{% url 'view_file' candidate.id %}">View {{ candidate.thesis.label }}</a></li>
</ul>
{% endblock %}

{% block content_main %}

<div id="view_abstract">
    <h4>{{ candidate.thesis.label }} Abstract</h4>
    <div>{{candidate.thesis.abstract}}</div>
</div>

{% endblock %}
