{% extends "etd_app/base.html" %}
{% block content_main %}
<h4>View candidates by status:</h4>
<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'review_candidates' 'all'%}">ALL candidates</a></li>
  <li class="dropdown" role="presentation">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
    aria-haspopup="true" aria-expanded="false">
          By Status<span class="caret"></span>
  <ul class="dropdown-menu">
      <li role="presentation"><a href="{% url 'review_candidates' 'in_progress'%}">In progress (dissertation not yet submitted)</a></li>
      <li role="presentation"><a href="{% url 'review_candidates' 'awaiting_gradschool'%}">Dissertation submitted, Grad school action needed</a></li>
      <li role="presentation"><a href="{% url 'review_candidates' 'dissertation_rejected'%}">Dissertation rejected, awaiting resubmission</a></li>
      <li role="presentation"><a href="{% url 'review_candidates' 'paperwork_incomplete'%}">Dissertation approved, paperwork incomplete</a></li>
      <li role="presentation"><a href="{% url 'review_candidates' 'complete'%}">Dissertation approved, paperwork complete</a></li>
  </li>
  </ul>
</ul>

<div id="db_admin">
    <p><a href="{% url 'staff_degrees' %}">Add degrees</a></p>
</div>

{% block candidates %}
{% endblock %}
{% endblock %}
