{% extends "etd_app/base.html" %}
{% load crispy_forms_tags %}
{% block content_sidebar %}
<h3>Candidate</h3>
<ul class="list-group">
  <li class="list-group-item">{{candidate.person.first_name}} {{candidate.person.last_name}}</li>
  <li class="list-group-item">{{candidate.person.email}}</li>
  <li class="list-group-item">Department: {{candidate.department.name}}</li>
  <li class="list-group-item">Dissertation Status: {{candidate.thesis.get_status_display}}</li>
  <li class="list-group-item">Paperwork Status: {{candidate.gradschool_checklist.status}}</li>
</ul>
<h3>Dissertation</h3>
<ul class="list-group">
  <li class="list-group-item">Title: {{ candidate.thesis.title }}</li>
  <li class="list-group-item">Pages: {{ candidate.thesis.num_prelim_pages }}, {{ candidate.thesis.num_body_pages }}</li>
  <li class="list-group-item"><a href="{% url 'abstract' candidate.id %}">View Abstract</a></li>
  <li class="list-group-item"><a target="_blank" href="{% url 'view_file' candidate.id %}">View Dissertation</a></li>
</ul>
{% endblock %}
{% block content_main %}

{% if candidate.thesis.status == 'pending' %}
<div id="format_checklist">
    <h4>Formatting Checklist</h4>
    <form class="form-horizontal" action="{% url 'format_post' candidate.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
      {% crispy format_form %}
    </form>
</div>
{% endif %}

<div id="gradschool_checklist">
    <h4>Grad School Checklist</h4>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% for item in candidate.gradschool_checklist.get_items %}
        <p>{{ item.staff_label }}:<br />
        {% if item.completed %}
            <i class="fa fa-lg fa-check text-success"></i>
            Received on {{ item.completed }}
        {% else %}
          <input type="checkbox" name="{{ item.form_field_name }}" />Received
        {% endif %}
        </p>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit Changes" />
    </form>
</div>
{% endblock %}
