{% extends "base.html" %}
{% block bootstrap3_extra_head %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
{{form.media.css}}
<style type="text/css">
  select {
    width: 200px;
  }
</style>
{% endblock %}
{% block content %}
<h4>{{candidate.person.first_name}} {{candidate.person.last_name}}</h4>
<p>About Your Dissertation</p>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Save Metadata" />
{% endblock %}
{% block bootstrap3_extra_script %}
{{form.media.js}}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script type="text/javascript">
$("#id_keywords").select2({
        minimumInputLength: 1,
        tags: true,
        tokenSeparators: ["{{ ID_VAL_SEPARATOR }}"],
        ajax: {
            url: "{% url 'autocomplete_keywords' %}",
            dataType: "json",
            delay: 250,
            data: function (params) {
                return {
                    term: params.term, // search term
                    page: params.page
                };
            },
            processResults: function (data, page) {
                return {
                    results: data.results,
                    pagination: {
                        more: data.more
                    }
                };
            },
        },
        insertTag: function (data, tag) {
            data.push(tag);
        },
    });
</script>
{% endblock %}
