{% extends "base.html" %}
{% block content %}
<h4>{{candidate.person.first_name}} {{candidate.person.last_name}}</h4>
{% if thesis %}
    <p>Title: {{ thesis.title }}</p>
    <p>Abstract: {{ thesis.abstract }}</p>
    <p>Keywords: {% for keyword in thesis.keywords.all %}
        {{ keyword }}
    {% endfor %}</p>
    {% if thesis.language %}
    <p>Language: {{ thesis.language.name }}</p>
    {% endif %}
    <p>Thesis filename: {{ thesis.file_name }}</p>
{% endif %}
<p><a href="{% url 'register' %}">Edit Profile</a></p>
<p><a href="{% url 'candidate_metadata' %}">Submit/Edit information about your dissertation</a></p>
<p><a href="{% url 'candidate_upload' %}">Upload {% if thesis.document %}new {% endif %}dissertation file (PDF)</a></p>

<div>
    <h4>Paper Submission Checklist:</h4>
    <p>(Grad School checks off when received)</p>
    <ul>
        <li>Submit Cashier's Office receipt for dissertation fee ($50){% if candidate.dissertation_fee %} (Completed on {{candidate.dissertation_fee}}){% endif %}</li>
        <li>Submit Bursar's Office receipt (white) showing that all outstanding debts have been paid{% if candidate.bursar_receipt %} (Completed on {{candidate.bursar_receipt}}){% endif %}</li>
        <li>Complete Graduate School Exit Survey{% if candidate.gradschool_exit_survey %} (Completed on {{candidate.gradschool_exit_survey}}){% endif %}</li>
        <li>Submit Survey of Earned Doctorates{% if candidate.earned_docs_survey %} (Completed on {{candidate.earned_docs_survey}}){% endif %}</li>
        <li>Submit title page, abstract, and signature pages to Graduate School{% if candidate.pages_submitted_to_gradschool %} (Completed on {{candidate.pages_submitted_to_gradschool}}){% endif %}</li>
    </ul>
</div>
{% endblock %}
