{% extends "etd_app/base.html" %}
{% load crispy_forms_tags %}
{% block content_sidebar %}
<h3>Candidate</h3>
<ul class="list-group">
  <li class="list-group-item">{{candidate.person.first_name}} {{candidate.person.last_name}}</li>
  <li class="list-group-item">{{candidate.person.email}}</li>
  <li class="list-group-item">Department: {{candidate.department.name}}</li>
  <li class="list-group-item">Dissertation Status: {{candidate.thesis.get_status_display}}</li>
  <li class="list-group-item">Paperwork Status: {{candidate.gradschool_checklist.status}}</li>
</ul>
<h3>Dissertation</h3>
<ul class="list-group">
  <li class="list-group-item">Title: {{ candidate.thesis.title }}</li>
  <li class="list-group-item">Pages: {{ candidate.thesis.num_prelim_pages }}, {{ candidate.thesis.num_body_pages }}</li>
  <li class="list-group-item"><a target="_blank" href="{{ MEDIA_URL }}{{ candidate.thesis.document.name }}">View Dissertation</a></li>
</ul>
{% endblock %}
{% block content_main %}

<div id="format_checklist">
    <h4>Formatting Checklist</h4>
    <form class="form-horizontal" action="{% url 'format_post' candidate.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
      {% crispy format_form %}
    </form>
</div>

<div id="gradschool_checklist">
    <h4>Grad School Checklist</h4>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <p>Dissertation Fee:<br />
        {% if candidate.gradschool_checklist.dissertation_fee %}
            <i class="fa fa-lg fa-check text-success"></i>
            Received on {{candidate.gradschool_checklist.dissertation_fee}}
        {% else %}
            <input type="checkbox" name="dissertation_fee" />Received
        {% endif %}
        </p>
        <p>Bursar Receipt:<br />
        {% if candidate.gradschool_checklist.bursar_receipt %}
            <i class="fa fa-lg fa-check text-success"></i>
            Received on {{candidate.gradschool_checklist.bursar_receipt }}.
        {% else %}
            <input type="checkbox" name="bursar_receipt" />Received
        {% endif %}
        </p>
        <p>Grad School Exit Survey<br />
        {% if candidate.gradschool_checklist.gradschool_exit_survey %}
            <i class="fa fa-lg fa-check text-success"></i>
            Received on {{candidate.gradschool_checklist.gradschool_exit_survey }}.
        {% else %}
            <input type="checkbox" name="gradschool_exit_survey" />Received
        {% endif %}
        </p>
        <p>Earned Doctorates Survey<br />
        {% if candidate.gradschool_checklist.earned_docs_survey %}
            <i class="fa fa-lg fa-check text-success"></i>
            Received on {{candidate.gradschool_checklist.earned_docs_survey }}.
        {% else %}
            <input type="checkbox" name="earned_docs_survey" />Received
        {% endif %}
        </p>
        <p>Signature Page:<br />
        {% if candidate.gradschool_checklist.pages_submitted_to_gradschool %}
            <i class="fa fa-lg fa-check text-success"></i>
            Received on {{candidate.gradschool_checklist.pages_submitted_to_gradschool }}.
        {% else %}
            <input type="checkbox" name="pages_submitted_to_gradschool" />Received
        {% endif %}
        </p>
        <input class="btn btn-primary" type="submit" value="Submit Changes" />
    </form>
</div>
{% endblock %}
