{% extends "etd_app/staff_base.html" %}
{% block candidates%}
<table>
    <tr>
        <th><a href="{% url 'review_candidates' status %}">Candidate</a></th>
        <th><a href="{% url 'review_candidates' status %}?sort_by=department">Department</a></th>
        {% if status == 'all' %}
        <th><a href="{% url 'review_candidates' status %}?sort_by=status">Status</a></th>
        {% else %}
        <th><a href="{% url 'review_candidates' status %}?sort_by=title">Dissertation Title</a></th>
        {% endif %}
        <th><a href="{% url 'review_candidates' status %}?sort_by=date_registered">Date Registered</a></th>
        <th><a href="{% url 'review_candidates' status %}?sort_by=date_submitted">Date Submitted</a></th>
    </tr>
    {% for candidate in candidates %}
    <tr>
        <td><a href="{% url 'approve' candidate.id %}">{{candidate.person.last_name}}, {{candidate.person.first_name}}</a></td>
        <td>{{candidate.department.name}}</td>
        {% if status == 'all' %}
        <td>{{candidate.thesis.get_status_display}}</td>
        {% else %}
        <td>{{candidate.thesis.title}}</td>
        {% endif %}
        <td>{{candidate.date_registered}}</td>
        <td>{{candidate.thesis.date_submitted}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
