{% extends "base.html" %}
{% block content %}
<h4>View candidates by status:</h4>
<ul>
    <li>In progress (dissertation not yet submitted)</li>
    <li>Dissertation submitted, Grad school action needed</li>
    <li>Dissertation rejected, awaiting resubmission</li>
    <li>Dissertation approved, paperwork incomplete</li>
    <li>Dissertation approved, paperwork complete</li>
</ul>

<table>
    <tr>
        <th>Candidate</th><th>Department</th><th>Status</th><th>Date Registered</th><th>Date Submitted</th>
    </tr>
    {% for candidate in candidates %}
    <tr>
        <td>{{candidate.person.last_name}}, {{candidate.person.first_name}}</td>
        <td>{{candidate.department.name}}</td>
        <td>{{candidate.thesis.get_status_display}}</td>
        <td>{{candidate.date_registered}}</td>
        <td>{{candidate.thesis.date_submitted}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
