{% extends "base.html" %}
{% block content %}
<h3>Workshops & Tutorials</h3>

<h4>Software:</h4>

<p>You need the appropriate software in order to convert your dissertation into a PDF. Adobe PDF Software, is <a href="https://www.brown.edu/information-technology/software/catalog/adobe-creative-cloud-desktop-application">available</a> to all Brown students.</p>

<h4>Online Tutorials:</h4>
  <ul>
    <li><a href="http://www.brown.edu/Facilities/CIS/Training/onlinetraining/screencast.php?id=53">Numbering dissertation pages in Microsoft Word 2007 for Windows</a> (CIS)</li>
    <li><a href="http://etd.vt.edu/etdtutorials/">Create an ETD Using Adobe Acrobat</a> (Ohio State tutorial)</li>
    <li><a href="http://www.adobe.com/uk/education/etd/tutorials.html">Adobe ETD Tutorials</a></li>
  </ul>

<h4>Workshops:</h4>
<p>CIS offers workshops in dissertation preparation. Check http://training.brown.edu/ to view the schedule or to request a workshop.</p>

{% endblock %}
