.accessibility-agreement-text {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.bul_pl_subheader_links {
    color: #42402F;
}
